.config/lxqt/debug.log
.config/xfce4/panel/whiskermenu-1.rc
.config/xfce4/desktop
#.config/xfce4/xfconf/xfce-perchannel-xml
.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml
.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-notifyd.xml
.config/xfce4/xfconf/xfce-perchannel-xml/displays.xml
.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml

.config/xfce4/xfce4-screenshooter
#.config/autostart

