[user]
	email = viktor.mitin.19@gmail.com
	name = Viktor Mitin
#[credential "https://github.com"]
#	username = Viktor.Mitin.19@gmail.com
[alias]
	co = checkout
	br = branch
	bra = branch -av
	st = status
	la = log --oneline --decorate --graph --all
[color]
	ui = auto
[sendemail]
	from = Viktor Mitin <viktor.mitin.19@gmail.com>
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpuser = viktor.mitin.19@gmail.com
	smtpencryption = tls

	to = xen-devel@lists.xenproject.org
#	cc = julien.grall@arm.com,sstabellini@kernel.org
#	suppresscc = self #do not send email to myself

[format]
#    subjectprefix = "Xen-devel] [PATCH"
#	signoff = true
