#copy last word
#"®":"!#:$\e^"

#"\C-k": "sudo apt-get install "

############################################################
#Example of key mapping using hex key code: Alt+k
#sudo showkey -a
"\x1b\x6b": "sudo apt-get install -y "
#"\ek": "sudo apt-get install -y "
###########################################################

#"\ex": "~/work/vimdiff_changed_files.sh\n"
"\ex": "rm -f ~/.vim/swp/*; vim -S ~/w/vim_temp.vim \n"
"\el": "ll \n"
"\eu": "cd .. \n"
"\e-": "cd - \n"
"\ee": "echo $? \n"

#"\ep": "cd `pwd`\n ;"


set completion-ignore-case On

"\e[A": history-search-backward
"\e[B": history-search-forward

#"mappings for Ctrl-left-arrow and Ctrl-right-arrow for word moving
#"\e[1;5C": forward-word
#"\e[1;5D": backward-word


#set meta-flag on
#set input-meta on
#set convert-meta on
#set output-meta on


