[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/c/Desktop/skypeforlinux.desktop]
row=6
col=0

[/home/c/Desktop/computer.desktop]
row=0
col=0

[/home/c/Desktop/qterminal.desktop]
row=4
col=0

[5008B3D408B3B776]
row=0
col=5

[Trash]
row=0
col=13

[/]
row=2
col=0

[/home/c]
row=3
col=0

